:root {
    --white: #ffffff;
    --green: #1abc9c;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'montserrat', sans-serif;
}


main {
    padding-bottom: 212px;
}

header {
    background-color: var(--green);
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;
}

.site-title {
    font-size: 2rem;
    color: var(--white);
}

.nav-ul {
    list-style: none;
    display: flex;
    margin: 2em auto;
}

nav a {
    text-decoration: none;
    color: var(--white);
    margin: auto 0.5em;
    font-size: 1.5rem;
    letter-spacing: 0.01rem;
}

nav a:hover {
    color: #222;
}

.container {
    width: 70%;
    margin: 5em auto;
    color: #555;
}

.author-info {
    display: flex;
    align-items: center;
}

.author-image {
    max-width: 5%;
    border-radius: 75%;
    margin: 0.5em 0.1em;
}

.post-date {
    color: rgb(65, 23, 23);
    font-weight: 700;
    margin: 0.5em auto;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8rem;
}

.post-title {
    color: #333;
    font-size: 1.2rem;
}

article {
    margin-bottom: 50px;
}

footer {
    position: absolute;
    width: 100%;
    background-color: #2f2f2f;
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    color: var(--white);
}

footer a {
    text-decoration: none;
    color: var(--green);
}

footer a:hover {
    color:#F6A623
}

.about-container {
    max-width: 70%;
    margin: 3em auto;
}

.img {
    display: flex;
    justify-content: center;
}

.about-author-img {
    max-width: 15%;
    border-radius: 50%;
}

.about-title {
    text-align: center;
}

@media screen and (max-width: 430px) {

    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .site-title {
        margin: 0 auto;
    }

    footer {
        flex-direction: row;
    }

}
